@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #e4e3e3;
}

.bg {
  background: url("../src/assets/bg.png");
  background-size: cover;
}

.box {
  animation: moveUpDown 4s infinite ease-in-out;
}

@keyframes moveUpDown {
  0% {
    top: 0;
  }
  50% {
    top: 100%; /* La distancia que quieres que la caja baje */
  }
  100% {
    top: 0; /* La caja vuelve a la posición original */
  }
}

/* input */
/* From Uiverse.io by mrhyddenn */
.form__group {
  position: relative;
  padding: 20px 0 0;
}

.form__field {
  font-family: inherit;

  border: none;
  border-bottom: 2px solid #ee5b5b;
  outline: 0;
  font-size: 17px;

  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #ee5b5b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #eb8c8c, #fca5a5);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #fca5a5;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/* loader */
